#Ignore virtual environment directories
venv/
env/
.vscode/
credentials/
other/
material/
Ekonometric/

#Ignore .pkl files
*.pkl

#Ignore .png files
*.png

*.env

Machine_Learning/Regression/Comercials-marketing_mix_modeling/notebook.ipynb
Machine_Learning/Regression/Comercials-marketing_mix_modeling/train.ipynb
