[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
jupyter = "*"
matplotlib = "*"
keras = "*"
tensorflow = "*"
scikit-learn = "*"
joblib = "*"
optuna-integration = "*"
plotly = "*"
google-cloud-storage = "*"
python-dotenv = "*"
psycopg2 = "*"
boto3 = "*"
awscli = "*"
parquet = "*"
pyarrow = "*"
nltk = "*"
polars = "*"
seaborn = "*"
statsmodels = "*"
xgboost = "*"
catboost = "*"
nevergrad = "*"

[dev-packages]

[requires]
python_version = "3.10"
